* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-image: url("../img/bg-2.png");
}

a{
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-family: sans-serif;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

.navMenu{
  background-color: red;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
}
.navSecciones{
  float: left;

}

#logo{
  display:block;
  float: left;
}

.secciones,
.navLogin{
  padding: 10px 10px 10px 10px;
  float: left;
}

.navLogin{
  float: right;
}
.articulos{
  width: 800px;
  background-color: white;
  float: left;
  overflow: hidden;

}
.producto{
  width: 380px;
  /*margin: 10px 20px 10px 10px;*/
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}


section{
  overflow: hidden;
  margin-top: 10px;
}

img,p{
  display: block;
  float: left;
}

.lateralDerecho{
  width: 320px;
  float:left;
  overflow: hidden;
  margin-left: 20px;
}

.botonProducto{
  background-color: red;
  color: white;
  padding: 5px 5px 5px 5px;
  outline: none;
  border:0 none;
}

.titulo{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 0px 0px 15px 0px;
  padding: 5px 5px 5px 5px;
}

.tutoriales{
  margin-bottom: 20px;
  float: left;
}

.tutorial{
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  float: left;
  background-color: white;
  font-size: 14px;
}

.publicidades{
  float: left;
}

.publicidad{
  float: left;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
}

.boxFormulario{
  width: 350px;
  margin: 0 auto;
}

input,label{
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 0px;
  /*background-color: gray;*/
  width: 100%;
}

.relleno{
  float: left;
  overflow: hidden;
  width: 100%;
}

.camposDerecha{
  float: right;
}

.check,.checklbl{
  float: left;
  width: auto;
}

.tituloLogin{
  text-align: center;
}
